body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv-sankey {
    width: 100%;
    height: 500px
  }

  #chartdiv-bubble {
    width: 100%;
    height: 600px
  }
  
  #chartdata {
    max-height: 400px;
    overflow: auto;
  }
  
  #table-sankey {
   max-height: fit-content;
    width: 100%;
  }

  h6{
    padding-top: 2px;
    text-align: center;
  }

  .p-cent{
    text-align: center;
  }

  #suedecrocs {
    height: 400px;
    width: auto;
  }

  #suedecrocsfunnel {
    height: 400px;
    width: auto;
  }

  #light-footer{
    background-color: white;
  }